<!DOCTYPE html>
<html  lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>Ruoyi System Homepage</title>
    <!-- Avoid IE using compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.contextMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/skins.css?v=20200902}" rel="stylesheet"/>
    <link th:href="@{/ruoyi/css/ry-ui.css?v=4.8.0}" rel="stylesheet"/>
    <style type="text/css">.fixed-sidebar .nav:not(.navbar-toolbar)>li.active{border-left:0px!important;}</style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" th:classappend="${isMobile} ? 'canvas-menu'" style="overflow: hidden">
<div id="wrapper">

    <!-- Left navigation starts -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <a th:href="@{/index}">
            <li class="logo hidden-xs">
                <span class="logo-lg">RuoYi</span>
            </li>
        </a>
        <div class="sidebar-collapse tab-content" id="side-menu">
            <div class="user-panel">
                <a class="menuItem noactive" title="Personal Center" th:href="@{/system/user/profile}">
                    <div class="hide" th:text="Personal Center"></div>
                    <div class="pull-left image">
                        <img th:src="(${#strings.isEmpty(user.avatar)}) ? @{/img/profile.jpg} : @{${user.avatar}}" th:onerror="this.src='img/profile.jpg'" class="img-circle" alt="User Image">
                    </div>
                </a>
                <div class="pull-left info">
                  <p>[[${user.loginName}]]</p>
                  <a href="javascript:;"><i class="fa fa-circle text-success"></i> Online</a>
                  <a th:href="@{logout}" style="padding-left:5px;"><i class="fa fa-sign-out text-danger"></i> Logout</a>
                </div>
            </div>

            <!-- Left menu -->
            <th:block th:each="menu : ${menus}">
            <div class="tab-pane fade height-full" th:id="|menu_${menu.menuId}|">
              <ul class="nav">
                <li th:each="cmenu : ${menu.children}">
                  <a class="menu-content" th:if="${#lists.isEmpty(cmenu.children)}" th:href="@{${cmenu.url}}" th:classappend="${#strings.isEmpty(cmenu.target)} ? |menuItem| : ${cmenu.target}" th:data-refresh="${cmenu.isRefresh == '0'}">
                    <i th:class="${cmenu.icon} + ' fa-fw'"></i> <span class="nav-label">[[${cmenu.menuName}]]</span>
                  </a>
                  <a class="menu-content" th:if="${not #lists.isEmpty(cmenu.children)}" href="javascript:;">
                    <i th:class="${cmenu.icon} + ' fa-fw'"></i>
                    <span class="nav-label">[[${cmenu.menuName}]]</span>
                    <span class="fa arrow"></span>
                  </a>
                  <ul th:if="${not #lists.isEmpty(cmenu.children)}" class="nav nav-second-level collapse">
                    <li th:each="emenu : ${cmenu.children}">
                      <a th:if="${#lists.isEmpty(emenu.children)}" th:href="@{${emenu.url}}" th:class="${#strings.isEmpty(emenu.target)} ? |menuItem| : ${emenu.target}" th:data-refresh="${emenu.isRefresh == '0'}">
                        <i th:class="${emenu.icon} + ' fa-fw'"></i> 
                        [[${emenu.menuName}]]
                      </a>
                      <a th:if="${not #lists.isEmpty(emenu.children)}" href="javascript:;">
                        <i th:class="${emenu.icon} + ' fa-fw'"></i> 
                        [[${emenu.menuName}]]
                        <span class="fa arrow"></span>
                      </a>
                      <ul th:if="${not #lists.isEmpty(emenu.children)}" class="nav nav-third-level collapse">
                        <li th:each="fmenu : ${emenu.children}"><a th:if="${#lists.isEmpty(fmenu.children)}" th:class="${#strings.isEmpty(fmenu.target)} ? |menuItem| : ${fmenu.target}" th:href="@{${fmenu.url}}" th:data-refresh="${fmenu.isRefresh == '0'}">[[${fmenu.menuName}]]</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            </th:block>

            <!-- Home menu -->
            <div class="tab-pane fade height-full" id="index">
              <ul class="nav">
                <li>
                  <a class="menuItem" th:href="@{/system/main}">
                  <i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
                </li>
              </ul>
            </div>
			
            <!-- 实例演示菜单 -->
			<div class="tab-pane fade height-full" id="demo" th:if="${demoEnabled}">
			  <ul class="nav">
			    <li>
			      <a href="javascript:;"><i class="fa fa-edit"></i> <span class="nav-label">表单</span><span class="fa arrow"></span></a>
			      <ul class="nav nav-second-level collapse">
					<li><a class="menuItem" th:href="@{/demo/form/button}">Buttons</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/grid}">Grid</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/select}">Dropdown</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/timeline}">Timeline</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/progress_bars}">Progress Bars</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/basic}">Basic Form</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/cards}">Card List</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/jasny}">Function Extension</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/sortable}">Drag and Sort</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/invoice}">Invoice Printing</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/labels_tips}">Labels & Tips</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/tabs_panels}">Tabs & Panels</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/validate}">Form Validation</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/wizard}">Form Wizard</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/upload}">File Upload</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/datetime}">Date and Time</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/summernote}">Rich Text Editor</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/duallistbox}">Dual List Box</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/autocomplete}">Search Autocomplete</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/cxselect}">Multi-level Linked Dropdown</a></li>
					<li><a class="menuItem" th:href="@{/demo/form/localrefresh}">Ajax Local Refresh</a></li>
			      </li>
			      <li>
			        <!-- 点击展开表格相关操作的二级菜单 -->
			        <a href="javascript:;"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
			        <ul class="nav nav-second-level collapse">
			          <!-- 跳转到查询条件示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/search}">Query Conditions</a></li>
			          <!-- 跳转到数据汇总示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/footer}">Data Summarization</a></li>
			          <!-- 跳转到组合表头示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/groupHeader}">Combined Table Headers</a></li>
			          <!-- 跳转到表格导出示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/export}">Table Export</a></li>
			          <!-- 跳转到全文索引示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/textSearch}">Full-Text Indexing</a></li>
			          <!-- 跳转到导出选择列示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/exportSelected}">Export Selected Columns</a></li>
			          <!-- 跳转到翻页记住选择示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/remember}">Remember Selections on Page Change</a></li>
			          <!-- 跳转到表格保存状态示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/cookie}">Save Table State</a></li>
			          <!-- 跳转到跳转至指定页示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/pageGo}">Jump to Specified Page</a></li>
			          <!-- 跳转到自定义查询参数示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/params}">Custom Query Parameters</a></li>
			          <!-- 跳转到初始多表格示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/multi}">Initial Multiple Tables</a></li>
			          <!-- 跳转到点击按钮加载表格示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/button}">Load Table by Clicking Button</a></li>
			          <!-- 跳转到直接加载表格数据示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/data}">Load Table Data Directly</a></li>
			          <!-- 跳转到表格冻结列示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/fixedColumns}">Fixed Table Columns</a></li>
			          <!-- 跳转到自定义触发事件示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/event}">Custom Trigger Events</a></li>
			          <!-- 跳转到表格标题格式化示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/headerStyle}">Table Header Formatting</a></li>
			          <!-- 跳转到表格细节视图示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/detail}">Table Detail View</a></li>
			          <!-- 跳转到表格父子视图示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/child}">Table Parent-Child View</a></li>
			          <!-- 跳转到表格图片预览示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/image}">Table Image Preview</a></li>
			          <!-- 跳转到动态增删改查示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/curd}">Dynamic CRUD Operations</a></li>
			          <!-- 跳转到表格行拖拽操作示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/reorderRows}">Table Row Drag-and-Drop</a></li>
			          <!-- 跳转到表格列拖拽操作示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/reorderColumns}">Table Column Drag-and-Drop</a></li>
			          <!-- 跳转到表格列宽拖动示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/resizable}">Resizable Table Columns</a></li>
			          <!-- 跳转到表格行内编辑示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/editable}">In-line Table Editing</a></li>
			          <!-- 跳转到主子表提交示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/subdata}">Submit Parent-Child Tables</a></li>
			          <!-- 跳转到表格自动刷新示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/refresh}">Automatic Table Refresh</a></li>
			          <!-- 跳转到表格打印配置示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/print}">Table Printing Configuration</a></li>
			          <!-- 跳转到表格动态列示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/dynamicColumns}">Dynamic Table Columns</a></li>
			          <!-- 跳转到表格虚拟滚动示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/virtualScroll}">Table Virtual Scrolling</a></li>
			          <!-- 跳转到自定义视图分页示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/customView}">Custom View Pagination</a></li>
			          <!-- 跳转到异步加载表格树示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/asynTree}">Asynchronous Table Tree Loading</a></li>
			          <!-- 跳转到表格其他操作示例页面 -->
			          <li><a class="menuItem" th:href="@{/demo/table/other}">Other Table Operations</a></li>
			        </ul>
			      </li>
			    <li>
			      <!-- Changed: "弹框" translated to "Modals" -->
			      <a href="javascript:;"><i class="fa fa-flask"></i> <span class="nav-label">Modals</span><span class="fa arrow"></span></a>
			      <ul class="nav nav-second-level collapse">
			        <!-- Changed: "模态窗口" translated to "Modal Window" -->
			        <li><a class="menuItem" th:href="@{/demo/modal/dialog}">Modal Window</a></li>
			        <!-- Changed: "弹层组件" translated to "Layer Component" -->
			        <li><a class="menuItem" th:href="@{/demo/modal/layer}">Layer Component</a></li>
			        <!-- Changed: "弹层表格" translated to "Modal Table" -->
			        <li><a class="menuItem" th:href="@{/demo/modal/table}">Modal Table</a></li>
			      </ul>
			    </li>
			    <li>
			      <!-- Changed: "操作" translated to "Operations" -->
			      <a href="javascript:;"><i class="fa fa-wpforms"></i> <span class="nav-label">Operations</span><span class="fa arrow"></span></a>
			      <ul class="nav nav-second-level collapse">
			        <!-- Changed: "表格" translated to "Table" -->
			        <li><a class="menuItem" th:href="@{/demo/operate/table}">Table</a></li>
			        <!-- Changed: "其他" translated to "Others" -->
			        <li><a class="menuItem" th:href="@{/demo/operate/other}">Others</a></li>
			      </ul>
			    </li>
			    <li>
			      <!-- Changed: "报表" translated to "Reports" -->
			      <a href="javascript:;"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
			      <ul class="nav nav-second-level collapse">
			        <!-- Changed: "百度ECharts" translated to "Baidu ECharts" -->
			        <li><a class="menuItem" th:href="@{/demo/report/echarts}">Baidu ECharts</a></li>
			        <!-- Changed: "peity" remains the same as it's a technical term -->
			        <li><a class="menuItem" th:href="@{/demo/report/peity}">peity</a></li>
			        <!-- Changed: "sparkline" remains the same as it's a technical term -->
			        <li><a class="menuItem" th:href="@{/demo/report/sparkline}">sparkline</a></li>
			        <!-- Changed: "图表组合" translated to "Chart Combination" -->
			        <li><a class="menuItem" th:href="@{/demo/report/metrics}">Chart Combination</a></li>
			      </ul>
			    </li>
			    <li>
			      <!-- Changed: "图标" translated to "Icons" -->
			      <a href="javascript:;"><i class="fa fa-book"></i> <span class="nav-label">Icons</span><span class="fa arrow"></span></a>
			      <ul class="nav nav-second-level collapse">
			        <!-- Changed: "Font Awesome" remains the same as it's a well - known icon library -->
			        <li><a class="menuItem" th:href="@{/demo/icon/fontawesome}">Font Awesome</a></li>
			        <!-- Changed: "Glyphicons" remains the same as it's a well - known icon library -->
			        <li><a class="menuItem" th:href="@{/demo/icon/glyphicons}">Glyphicons</a></li>
			      </ul>
			    </li>
			    <li>
			      <!-- Changed: "四层菜单" translated to "Four - level Menu" -->
			      <a href="javascript:;"><i class="fa fa-navicon"></i> <span class="nav-label">Four - level Menu</span><span class="fa arrow"></span></a>
			      <ul class="nav nav-second-level collapse">
			        <li>
			          <!-- Changed: "三级菜单1" translated to "Third - level Menu 1" -->
			          <a href="javascript:;" id="damian">Third - level Menu 1<span class="fa arrow"></span></a>
			          <ul class="nav nav-third-level collapse">
			            <!-- Changed: "四级菜单1" translated to "Fourth - level Menu 1" -->
			            <li>
			              <a href="javascript:;">Fourth - level Menu 1</a>
			            </li>
			            <!-- Changed: "四级菜单2" translated to "Fourth - level Menu 2" -->
			            <li>
			              <a href="javascript:;">Fourth - level Menu 2</a>
			            </li>
			          </ul>
			        </li>
			        <!-- Changed: "三级菜单2" translated to "Third - level Menu 2" -->
			        <li><a href="javascript:;">Third - level Menu 2</a></li>
			      </ul>
			    </li>
			  </ul>
			</div>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--右侧部分开始-->
    <!-- Right part starts -->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2" style="color:#FFF;" href="javascript:;" title="Collapse the menu">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <!-- Top bar -->
                <div id="navMenu">
                  <ul class="nav navbar-toolbar nav-tabs navbar-left hidden-xs">
                    
                    <!-- Top menu list -->
                    <th:block th:each="menu : ${menus}">
                        <li role="presentation" th:id="|tab_${menu.menuId}|">
                            <a th:if="${#lists.isEmpty(menu.children)}" data-toggle="tab" th:class="@{${!#strings.isEmpty(menu.target) && menu.target == 'menuBlank'} ? 'menuBlank' : 'menuItem noactive'}" th:href="@{${menu.url}}">
                                <i th:class="${menu.icon}"></i> <span>[[${menu.menuName}]]</span>
                            </a>    
                            <a th:if="${not #lists.isEmpty(menu.children)}" data-toggle="tab" th:class="@{${!#strings.isEmpty(menu.target) && menu.target == 'menuBlank'} ? 'menuBlank'}" th:href="@{${!#strings.isEmpty(menu.target) && menu.target == 'menuBlank'} ? @{${menu.url}} : |#menu_${menu.menuId}|}">
                                <i th:class="${menu.icon}"></i> <span>[[${menu.menuName}]]</span>
                            </a>
                        </li>
                    </th:block>
                    
                    <li role="presentation" id="tab_index">
                      <a data-toggle="tab" href="#index">
                        <i class="fa fa-area-chart"></i> <span>Statistical Report</span>
                      </a>
                    </li>
                    
                    <li role="presentation" id="tab_demo" th:if="${demoEnabled}">
                      <a data-toggle="tab" href="#demo">
                        <i class="fa fa-desktop"></i> <span>Demo</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- Right bar -->
                <ul class="nav navbar-top-links navbar-right welcome-message">
                    <li><a data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Development documentation" href="http://doc.ruoyi.vip/ruoyi" target="_blank"><i class="fa fa-question-circle"></i> Documentation</a></li>
                    <li><a data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Lock the screen" href="javascript:;" id="lockScreen"><i class="fa fa-lock"></i> Lock Screen</a></li>
                    <li><a data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="Full screen display" href="javascript:;" id="fullScreen"><i class="fa fa-arrows-alt"></i> Full Screen</a></li>
                
                    <li class="dropdown user-menu">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-hover="dropdown">
                            <img th:src="(${#strings.isEmpty(user.avatar)}) ? @{/img/profile.jpg} : @{${user.avatar}}" th:onerror="this.src='img/profile.jpg'" class="user-image">
                            <span class="hidden-xs">[[${#strings.defaultString(user.userName, '-')}]]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="mt5">
                                <a th:href="@{/system/user/profile}" class="menuItem noactive">
                                <i class="fa fa-user"></i> Personal Center</a>
                            </li>
                            <li>
                                <a onclick="resetPwd()">
                                <i class="fa fa-key"></i> Change Password</a>
                            </li>
                            <li>
                                <a onclick="switchSkin()">
                                <i class="fa fa-dashboard"></i> Switch Theme</a>
                            </li>
                            <li>
                                <a onclick="toggleMenu()">
                                <i class="fa fa-toggle-off"></i> Left Menu</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{logout}">
                                <i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs" th:classappend="${#bools.isFalse(tagsView)} ? |hide|">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active menuTab" th:data-id="@{/system/main}">Home</a>
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <a href="javascript:void(0);" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> Refresh</a>
        </div>

        <a id="ax_close_max" class="ax_close_max" href="javascript:;" title="Exit Full Screen"> <i class="fa fa-times-circle-o"></i> </a>

        <div class="row mainContent" id="content-main" th:classappend="${mainClass}">
            <iframe class="RuoYi_iframe" name="iframe0" width="100%" height="100%" th:data-id="@{/system/main}"
                th:src="@{/system/main}" frameborder="0" seamless></iframe>
        </div>
        
        <div th:if="${footer}" class="footer">
            <div class="pull-right">© [[${copyrightYear}]] RuoYi Copyright </div>
        </div>
    </div>
    <!-- Right part ends -->
</div>
<!-- Global js -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/jquery.contextMenu.min.js}"></script>
<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/ruoyi/js/ry-ui.js?v=4.8.0}"></script>
<script th:src="@{/ruoyi/js/common.js?v=4.8.0}"></script>
<script th:src="@{/ruoyi/index.js?v=20201208}"></script>
<script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
<script th:src="@{/js/resize-tabs.js}"></script>
<script th:inline="javascript">
window.history.forward(1);
var ctx = [[@{/}]]; 
var lockscreen = [[${session.lockscreen}]]; 
if(lockscreen){window.top.location=ctx+"lockscreen";}
// Skin cache
var skin = storage.get("skin");
// history (means remove the '#' from the address), otherwise the address will be displayed in the form of '#'
var mode = "history";
// History access path cache
var historyPath = storage.get("historyPath");
// Whether the tab is linked with the menu
var isLinkage = true;
// Whether to scroll to the top when switching tabs
var isScrollToTop = true;

// Local theme has priority, if not set, get the system configuration
if($.common.isNotEmpty(skin)){
    $("body").addClass(skin.split('|')[0]);
    $("body").addClass(skin.split('|')[1]);
} else {
    $("body").addClass([[${sideTheme}]]);
    $("body").addClass([[${skinName}]]);
}

/* User management - Reset password */
function resetPwd() {
    var url = ctx + 'system/user/profile/resetPwd';
    $.modal.open("Reset Password", url, '770', '380');
}
/* Switch theme */
function switchSkin() {
    layer.open({
        type : 2,
        shadeClose : true,
        title : "Switch Theme",
        area : ["530px", "386px"],
        content : [ctx + "system/switchSkin", 'no']
    })
}

/* Switch menu */
function toggleMenu() {
    $.modal.confirm("Are you sure you want to switch to the left menu?", function() {
        $.get(ctx + 'system/menuStyle/default', function(result) {
            window.location.reload();
        });
    })
}

/** Refresh the access path tab when refreshing */
function applyPath(url) {
    var $dataObj = $('a[href$="' + decodeURI(url) + '"]');
    $dataObj.click();
    if (!$dataObj.hasClass("noactive")) {
        $dataObj.parent("li").addClass("selected").parents("li").addClass("active").end().parents("ul").addClass("in");
    }
    // Synchronize the top menu
    var tabStr = $dataObj.parents(".tab-pane").attr("id");
    if ($.common.isNotEmpty(tabStr)) {
        var sepIndex = tabStr.lastIndexOf('_');
        var menuId = tabStr.substring(sepIndex + 1, tabStr.length);
        $("#tab_" + menuId + " a").click();
    }
}

$(function() {
    var lockPath = storage.get('lockPath');
    if($.common.equals("history", mode) && window.performance.navigation.type == 1) {
        var url = storage.get('publicPath');
        if ($.common.isNotEmpty(url)) {
            applyPath(url);
        } else {
            $(".navbar-toolbar li a").eq(0).click();
        }
    } else if($.common.isNotEmpty(lockPath)) {
        applyPath(lockPath);
        storage.remove('lockPath');
    } else {
        var hash = location.hash;
        if ($.common.isNotEmpty(hash)) {
            var url = hash.substring(1, hash.length);
            applyPath(url);
        } else {
            if($.common.equals("history", mode)) {
                storage.set('publicPath', "");
            }
            $(".navbar-toolbar li a").eq(0).click();
        }
    }

    /* Initial password prompt */
    if([[${isDefaultModifyPwd}]]) {
        layer.confirm("Your password is still the default password. Please change your password!", {
            icon: 0,
            title: "Security Prompt",
            btn: ['Confirm', 'Cancel'],
            offset: ['30%']
        }, function (index) {
            resetPwd();
            layer.close(index);
        });
    }

    /* Expired password prompt */
    if([[${isPasswordExpired}]]) {
        layer.confirm("Your password has expired. Please change your password as soon as possible!", {
            icon: 0,
            title: "Security Prompt",
            btn: ['Confirm', 'Cancel'],
            offset: ['30%']
        }, function (index) {
            resetPwd();
            layer.close(index);
        });
    }

    $("[data-toggle='tooltip']").tooltip();
});
</script>
</body>
</html>
